# Provider (openai | google_genai)
MODEL_PROVIDER="openai"

# MODEL
GOOGLE_MODEL='gemini-2.5-flash-lite'
OPENAI_MODEL='gpt-5-nano'

# EMBEDDING_MODEL
GOOGLE_EMBEDDING_MODEL='models/embedding-001'
OPENAI_EMBEDDING_MODEL='text-embedding-3-small'

# DATABASE
DATABASE_URL=
PG_VECTOR_COLLECTION_NAME=

# FILES_PATH
PDF_PATH=